[submodule "Hazel/vender/spdlog"]
	path = Hazel/vendor/spdlog
	url = https://github.com/gabime/spdlog/tree/v1.2.1
[submodule "Hazel/vendor/GLFW"]
	path = Hazel/vendor/GLFW
	url = https://github.com/sharppnika/glfw
